@import "font.css";

body {
	
	font-family: Helvetica, Arial, sans-serif;
	line-height:1.45;
}
body, html {
	height: 100%;
}

* {
	box-sizing: border-box;
}

#slidesBtn {
	position: fixed;
	top:10px;
	right:60px;
	width:50px;
	border-radius-right-top:0px;
}
#outlineBtn {
	position: fixed;
	top:10px;
	right:10px;
	width:50px;
}

.outline {
	width: 600px;
	margin:0 auto;
	img {
		max-width:100%;
	}
}

code, pre, .note{
	color:blue;
}
a, a:visited {
	color: darkblue;
	text-decoration: none;
	transition: color 100ms;
	border-bottom: 1px dotted;
}
a:hover {
	color:#B700FF;
}

.wrap {
	white-space: pre-wrap;
}
img.floated {
	margin: 1em;
	float:left;			
}

table {
	width:100%;
	border-collapse: collapse;
	margin: 1em 0;
	td, th {
	  	border: 1px dotted;
	  	text-align: left;
		padding: .25em;
		margin:.25em;
	}	
}

.slides {
	width:100%;
	height:100%;
	font-size: 28px;
	color:white;



	h1 {
		margin:0;
		text-align: center;
		padding: 13%;
	}

	h2 { margin: .41em 0; }
	p { margin: .4em 0; }

	
	.slide {
		width:100%;
		height:100%;
		&.long {
			height:auto;
		}
		padding:2%;
		border-bottom:1px solid black;
		img {
			max-height: 90%;
			max-width:100%;
		}
		img.ph {
			width:600px;
		}

		blockquote {
			background: rgba(lightgray, 0.7);
			padding: 1em;
			border-radius: 0.5em;
		}
	}
}

@media only screen and (max-width: 640px) {

}
@media only screen and (min-width: 641px) and (max-width: 1024px) {

}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
	.slides {
		font-size:2em;
	}
}
@media only screen and (min-width: 1441px) {
	.slides {
		font-size:3em;
	}
}
